p {
	font-family:Calibri;
}
body {
	font-family:Arial;
	margin: 0px;
}
h1,h3 {
	height: 40px; width: 12%; text-shadow: 3px 3px 3px #000000;
}
h2,h4 {
	vertical-align:baseline; text-align:center;  height: 50px; text-shadow: 3px 3px 3px #000000;
}
ol {
	border: 5px solid rgb(14, 13, 1);
	border-radius: 10px;
	padding: 30px;
	width: 275px;
	text-align: center;
}
.figuras {
	display: flex;
	flex-direction: row;
}
.figuras figure img {
	width: 500px;
}
.figuras figure {
	margin: auto;
}
.figuras figure figcaption {
	text-align: center;
	font-weight: bold;
}
a {
	color: red;
}
a:hover {
	color: #00b61e;
}